*{
  margin: 0px;
  padding: 0px;
}

/* Selectores de etiqueta */

body{
  background-color: rgb(149, 198, 243);
  margin: 50px 100px;
  font-family: "Roboto Condensed", sans-serif;
}

h1{
  font-size: 32px;
  color: rgb(45, 45, 145);
  text-align: center;
}

p{
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  text-align: justify;
  padding:10px;
}
/* Selector de clases */
.fotos{
    width: 350px;
    height: 250px;
}
/* Selector de identificacion */
#cabeza{
    width: 100%;
}